.i-tab-transaction {
    display: inline-block;
    height: 25px;
    width: 35px;
    background: url('../assets/icons/transactions.svg') no-repeat center center;
}

.i-tab-add-founds {
    display: inline-block;
    height: 25px;
    width: 35px;
    background: url('../assets/icons/add_founds.svg') no-repeat center center;
}

.i-tab-transfer {
    display: inline-block;
    height: 25px;
    width: 35px;
    background: url('../assets/icons/transfer.svg') no-repeat center center;
}

.i-user {
    display: inline-block;
    height: 14px;
    width: 14px;
    background: url('../assets/icons/user.svg') no-repeat center center;
}

.i-add {
    display: inline-block;
    height: 14px;
    width: 14px;
    background: url('../assets/icons/add.svg') no-repeat center center;
}

.i-delete {
    display: inline-block;
    height: 18px;
    width: 17px;
    background: url('../assets/icons/delete.svg') no-repeat center center;
}

.i-arrow {
    display: inline-block;
    height: 10px;
    width: 12px;
    background: url('../assets/icons/arrow.svg') no-repeat center center;
}

.i-arrows {
    display: inline-block;
    height: 32px;
    width: 24px;
    background: url('../assets/icons/arrows.svg') no-repeat center center;
}

.i-close-modal {
    display: inline-block;
    height: 15px;
    width: 15px;
    background: url('../assets/icons/close_modal.svg') no-repeat center center;
}

.i-af-cards {
    display: inline-block;
    height: 20px;
    width: 20px;
    background: url('../assets/icons/add-founds/cards.svg') no-repeat center center;
}

.i-af-adv {
    display: inline-block;
    height: 20px;
    width: 20px;
    background: url('../assets/icons/add-founds/adva.svg') no-repeat center center;
}

.i-af-epay {
  display: inline-block;
  height: 23px;
  width: 21px;
  background: url('../assets/icons/add-founds/epayment.svg') no-repeat center center;
}

.i-af-coin {
    display: inline-block;
    height: 24px;
    width: 24px;
    background: url('../assets/icons/add-founds/coin.svg') no-repeat center center;
}

.i-af-yandex {
    display: inline-block;
    height: 24px;
    width: 24px;
    background: url('../assets/icons/add-founds/yandex.svg') no-repeat center center;
}

.i-af-visa {
    display: inline-block;
    height: 24px;
    width: 24px;
    background: url('../assets/icons/add-founds/visa.svg') no-repeat center center;
}

.i-tr-cards {
    display: inline-block;
    height: 24px;
    width: 24px;
    background: url('../assets/icons/transfer/cards.svg') no-repeat center center;
}

.i-tr-person {
    display: inline-block;
    height: 24px;
    width: 24px;
    background: url('../assets/icons/transfer/other_person.svg') no-repeat center center;
}

.i-tr-person {
    display: inline-block;
    height: 24px;
    width: 24px;
    background: url('../assets/icons/transfer/other_person.svg') no-repeat center center;
}

.i-tr-bank {
    display: inline-block;
    height: 24px;
    width: 24px;
    background: url('../assets/icons/transfer/bank.svg') no-repeat center center;
}

.i-tr-building {
    display: inline-block;
    height: 24px;
    width: 24px;
    background: url('../assets/icons/transfer/building.svg') no-repeat center center;
}

.i-tr-coins {
    display: inline-block;
    height: 24px;
    width: 24px;
    background: url('../assets/icons/transfer/coins.svg') no-repeat center center;
}

.i-tr-yandex {
    display: inline-block;
    height: 24px;
    width: 24px;
    background: url('../assets/icons/transfer/yandex.svg') no-repeat center center;
}

.i-c-usd {
    display: inline-block;
    height: 22px;
    width: 22px;
    background: url('../assets/icons/currency/usd.svg') no-repeat center center;
}

.i-c-rub {
    display: inline-block;
    height: 22px;
    width: 22px;
    background: url('../assets/icons/currency/rub.svg') no-repeat center center;
}

.i-c-uah {
    display: inline-block;
    height: 22px;
    width: 22px;
    background: url('../assets/icons/currency/uah.svg') no-repeat center center;
}

.i-c-kzt {
    display: inline-block;
    height: 22px;
    width: 22px;
    background: url('../assets/icons/currency/kzt.svg') no-repeat center center;
}

.i-c-eur {
    display: inline-block;
    height: 22px;
    width: 22px;
    background: url('../assets/icons/currency/eur.svg') no-repeat center center;
}

.i-eye-closed {
    display: inline-block;
    height: 30px;
    width: 30px;
    background: url('../assets/icons/eye_closed.svg') no-repeat center center;
}

.i-eye-show {
    display: inline-block;
    height: 30px;
    width: 30px;
    background: url('../assets/icons/eye_show.svg') no-repeat center center;
}